VITE_GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_JAVASCRIPT_API_KEY
MONGODB_URI=YOUR_MONGODB_CONNECTION_STRING
MONGODB_DB=TotalApp
MONGODB_DNS_SERVERS=8.8.8.8,1.1.1.1
SESSION_SECRET=GENERATE_A_LONG_RANDOM_SECRET
SERVER_PORT=4000
